@import 'setup';
@import 'variables';
@import 'mixins';

html {
  font-size: 62.5%;
}

body {
  font-family: $text;
  font-size: 1.6rem;
  font-weight: 400;
  color: $light;
  background-color: $darker;
}

h1,
h2,
h3,
h4,
button {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.5px;
}

button {
  color: white;
  letter-spacing: 0.5px;
  background-color: $accent;
  height: 2.6em;
  border: none;
  transition: 0.2s;
  border-radius: 5px;
}

button:hover,
button:focus {
  background-color: $light;
  color: $accent;
}

a {
  color: $accent;
  text-decoration: none;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.3em;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-rows: 170px 1fr 50px;
  @include mobileMQ {
    grid-template-rows: 230px 1fr 50px;
  }
  grid-template-areas:
    "header"
    "main"
    "footer";
    height: 100vh;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
    font-family: $heading;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 6rem;
    font-weight: 800;
    margin: 10px 0;
    text-shadow: -3px 3px 0 $accent;
    text-align: center;
  }

main {
  display: flex;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

section {
  padding: 0 2%;
}

.form {
  width: 30%;
  @include tabletMQ {
    width: 40%;
  }
  @include mobileMQ {
    margin-top: 40px;
    width: 100%;
  }
  p {
    margin-bottom: 1em;
  }
  form {
    max-width: 300px;
    @include mobileMQ {
      max-width: 100%;
    }
    display: flex;
    flex-direction: column;
    input,
    textarea {
      font-family: $text;
      color: $light;
      background-color: $dark;
      border: none;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 5px;
      &::placeholder {
       opacity: 1; 
      }
      &:focus {
        background-color: $accent;
      }
    }
    textarea {
      width: 100%;
      max-width: 300px;
      @include mobileMQ {
        max-width: 100%;
      }
      resize: none;
    }
  }
}

.movies {
  width: 70%;
  @include tabletMQ {
    width: 60%;
    grid-template-columns: 1fr;
  }
  @include mobileMQ {
    width: 100%;
    order: -1;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: $darker;
  .loading {
    grid-column: span 2;
    color: $light;
    font-size: 4rem;
    text-align: center;
    margin-top: 25vh;
    svg {
    animation: roll 1s infinite linear;
    @keyframes roll {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    }
  }
  .movie {
    position: relative;
    border-radius: 5px;
    padding: 3rem;
    background-color: $medium;
    box-shadow: -5px 5px 0px $dark;
    height: 300px;
    overflow: auto;
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2rem;
      cursor: pointer;
      height: 40px;
      width: 40px;
      line-height: 1em;
      padding-right: 8px;
      padding-top: 2px;
    }
    h2 {
      margin-right: 40px;
    }
    p:last-of-type {
      margin-bottom: 3rem;
    }
  }
}

.react-confirm-alert {
  .react-confirm-alert-body {
    color: black;
  }
  h1 {
    color: $darker;
    font-size: 3.5rem;
    text-shadow: -2px 2px $accent;
  }
  .react-confirm-alert-button-group button {
    background-color: $accent;
    margin-bottom: 0;
    &:hover,
    &:focus {
      background-color: $darker;
    }
  }
}

footer {
  font-size: 1.4rem;
}